
<div class="jumbotron">
<div class="form-group">
    <h1>Registro</h1>
    <form action="/signup" method="POST">
      <label for="username">Usuario</label>
      <input class="form-control" type="text" name="username" id="username"/>
      <label for="password">Contraseña</label>
      <input  class="form-control" type="text" name="password" id="password"/>
      <button type="submit" class="btn btn-primary mt-5" >Login</button>
    </form>
</div>
</div>