GMAIL_USER='tu correo de gmail'
GMAIL_PASS='tu password de gmail'
MAIL='correo administrador'
TRANSPORTER='ETHEREAL'
MODO='FORK'
PERSISTENCIA='MONGO'
MONGO='mongodb://localhost:27017/desafios'
TIEMPO='90m'
SECRET='SECRETO'
