<form
  class="form-group d-flex justify-content-around"
  action="/store/checkout"
  method="GET"
>
  <h1>Carrito</h1>
  <button type="submit" class="btn btn-info mt-3">Comprar</button>
</form>

<div class="jumbotron">

  {{#if productos.length}}
    <div class="table-responsive">
      <table class="table table-dark">
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Foto</th></tr>
        {{#each productos}}
          <tr>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td><img
                width="50"
                src={{this.thumbnail}}
                alt="not found"
              /></td>
          </tr>
        {{/each}}
      </table>
    </div>
  {{else}}
    <h3 class="alert alert-warning">No se encontraron productos</h3>
  {{/if}}
</div>