<div class="jumbotron">
  <div class="form-group bg-color-info">

    <form
      class="form-group d-flex justify-content-around"
      action="/auth/logout"
      method="GET"
    >
      <h2 id="user">Bienvenido {{usuario}} a CarturuStore</h2>
      <button type="submit" class="btn btn-info mt-3">Logout</button>
    </form>

  </div>
</div>